<ng-content select="app-label"></ng-content>
<ng-content></ng-content>
<div [appErrors]="control" class="input-errors" (hasError)="hasError($event)">
  <app-error key="required">This field is required</app-error>
  <app-error key="minlength">This field is too short</app-error>
  <app-error key="maxlength">This field is too long</app-error>
  <ng-content select="app-error"></ng-content>
</div>
