app-input-container{
  display: flex;
  flex-direction: column;
}

app-error{
  padding: 5px;
  margin-bottom: 0.5rem;
  border: 1px solid #f5c6cb;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
}

.has-error{
  border: 1px solid red;
}

.input-errors{
  display: flex;
  flex-direction: column;
}

.valid-field{
  border: 1px solid green;
  outline: none;
}
