<div
  class="dynamic-field form-input"
  [formGroup]="group">
  <app-input-container>
    <app-label>{{config?.label}}</app-label>
    <input appInput [formControlName]="config.name">
    <app-error [key]="config.path" [serverErrorState]="serverErrorState"></app-error>
  </app-input-container>
</div>
