<form [formGroup]="rootGroup" *ngIf="rootGroup" #form="ngForm" (ngSubmit)="submitForm($event)">
  <app-dynamic-group
    [config]="formConfig"
    [group]="rootGroup"
    [serverErrorState]="serverErrorState$">
  </app-dynamic-group>
  <button type="button" (click)="form.ngSubmit.emit()">Submit</button>
</form>
