<form [formGroup]="goodForm" (submit)="submitForm($event)">
  <app-input-container>
    <app-label>Title</app-label>
    <input type="text" appInput formControlName="title">
    <app-error key="title" [serverErrorState]="errorsState$"></app-error>
  </app-input-container>
  <app-input-container>
    <app-label>Age</app-label>
    <input type="text" placeholder="age" appInput formControlName="age">
    <app-error key="adult">Too Young</app-error>
    <app-error key="age" [serverErrorState]="errorsState$"></app-error>
  </app-input-container>
  <app-input-container>
    <app-label>Description</app-label>
    <textarea cols="30" rows="10" appInput formControlName="description"></textarea>
  </app-input-container>
  <app-input-container [validationMark]="false">
    <app-label>Is Active</app-label>
    <app-checkbox appInput [formControl]="goodForm.get('active')"></app-checkbox>
  </app-input-container>
  <app-input-container>
    <app-label>First Name</app-label>
    <input type="text" appInput [formControl]="goodForm.get('seller').get('first')">
    <app-error [key]="['seller', 'first']" [serverErrorState]="errorsState$"></app-error>
  </app-input-container>
  <app-input-container>
    <app-label>City</app-label>
    <input type="text" appInput [formControl]="goodForm.get('seller').get('address').get('city')">
    <app-error [key]="['seller', 'address', 'city']" [serverErrorState]="errorsState$"></app-error>
  </app-input-container>
  <app-input-container>
    <app-label>Zip Code</app-label>
    <input type="text" appInput [formControl]="goodForm.get('seller').get('address').get('zip')">
    <app-error [key]="['seller', 'address', 'zip']" [serverErrorState]="errorsState$"></app-error>
  </app-input-container>
  <button type="submit">Submit</button>
  <button type="button" (click)="cleanErrors()">Clean</button>
</form>
<pre>{{goodForm.value | json}}</pre>
<pre>{{ngModel}}</pre>
